@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mainclass{
    min-height: 100%;
    max-width: 100%;
}

p{
    margin: 0;
    padding: 0;
}

/*Header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
    background-color: rgb(224, 224, 224);       
}

.headerDroite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nomPrenom{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(25, 125, 138);
    padding-left: 5px;
}

.logoCompany {
    padding: 10px;
    max-height: 70%;
    width: auto;
}

.profileButton {
    padding: 15px;
    max-height: 60%;
    border-radius: 50%;
}

/*Body*/

.espace1{
    display: flex;
    flex-direction: row;
    height: 12vh;
}

.retourMenu{
    font-family: 'Lato', sans-serif;
    width: 100%;
    color: rgb(61, 41, 80);
    font-size: 200%;
    font-weight: bold;
    align-self: center;
    padding-left: 5%;
}

.espace2{
    display: flex;
    flex-direction: row; 
    height: 25%;
}

.maps{
    display: flex;
    flex-direction: row; 
    width: 50%;
}

.mapimageflex{
    display: flex;
    width: 50%;
    justify-content: center;
    align-self: center;
}

.mapimage{
    max-height: 10em;
    width: auto;       
    max-width: 100%;
}

.textinfo{
    display: flex;
    width: 50%;
    font-family: 'Lato', sans-serif;
    align-items: center;
}

.stonks{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(61, 41, 80, 0.50);
    border-radius: 10px;
}

.stonksimageflex{
    display: flex;
    max-height: 100%;
    width: 50%;
    justify-content: center;
    align-self: center;
}

.stonksimage{
    max-height: 15em;
    width: auto;    
}

.espace3{
    display: flex;
    flex-direction: row;
    height: 25%;
}

.infocompany{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
    margin-left: 2%; 
    margin-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Lato', sans-serif;
    background-color: rgba(25, 125, 138, 0.50);
    border-radius: 10px;
}

.rating{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.ratingstar{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: flex-end;
}

.ratingtext{
    display: flex;
    font-family: 'Lato', sans-serif;
    height: 50%;
    text-align: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

.espace4{
    display: flex;
    flex-direction: column;
    height: 25%; 
}

.sousdiv{
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: center;
}

.statname{
    display: flex;
    font-family: 'Lato', sans-serif;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.statname p{
    background-color: rgba(25, 125, 138, 0.50);
    border-radius: 10px;
    padding: 10px;
}

.statname2{
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    width: 25%;
}

.statvalue{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.statvalue p{
    background-color: rgba(61, 41, 80, 0.50);
    border-radius: 10px;
    padding: 10px;
}

.statvalue2{
    display: flex;
    width: 25%;
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

/*Footer*/

footer{
    display: flex;
    bottom: 0;
    min-height: 22vh;
    position: relative;
    background-color: rgb(61, 41, 80);
    color: white;
    font-family: 'Lato', sans-serif;
}

.footertop{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.texttop{
    font-size: x-large;
    font-weight: 500;
    align-self: center;
}

.footersocials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footersocialsstuff{
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
}

.footerbottom{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 5px;
}

.footerbottomtext{
    text-decoration: none;
    display: flex;
    width: 18%;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    padding: 7px;
    border-radius: 10px;
    color: rgb(61, 41, 80);
    background-color: rgb(224, 224, 224); 
}