@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    color:rgb(61, 41, 80);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;   
    margin-top: 50px;
    
}

.welcome {
    display: flex;
    justify-content: center;
}

#textbox {
    font-size: 20px;
    width: 350px;
    margin-bottom: 20px;
    border-width: 3px;
    border-color: rgb(61, 41, 80);
}

#signIn {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 5px;
    margin-top: 40px;
    border-radius: 10px;
    border-width: 3px;
    width: 110px;
    font-weight: bold;
    color: rgb(61, 41, 80);
    border-color: rgb(61, 41, 80);
}


/*Footer*/

footer {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: rgb(61, 41, 80);
    position: absolute;
    color: white;
}

.footerElements {
    display: flex;
    align-items: center;
}

h3 {
    margin-left: 40px;
    font-weight: bold;
}

#logoInstagram {
    margin-left: 40px
}

#logoLinkedin {
    margin-left: 40px
}











/* body {
    background-image: url(pictures/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
