@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    position: relative;
    height: 50em;
    width: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*Header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(224, 224, 224);       
}

.logoCompany img{
    height: 60px;
    width: 290px;
    margin-left: 40px;
}

.headerDroite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
}

.nomPrenom{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(25, 125, 138);
    padding-right: 10px;
}

.profileButton img{
    height: 50px;
    width: 50px;
}

/*Body*/

.espace1{
    height: auto;
    margin-top: 20px;
}

.retourMenu{
    font-family: 'Lato', sans-serif;
    width: 110%;
    color: rgb(61, 41, 80);
    font-size: 200%;
    font-weight: bold;
    align-self: center;
    padding-left: 5%;
}

/*Search*/

.input-search{
    display: flex;
    align-items: center;
    width: 50%;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    padding: 10px;
    margin-top: 4%;
    margin-bottom: 1%;
}

.center-input{
    display: flex;
    justify-content: center;
}

.input-search img{
    width: 50px;
    position: relative;
    margin-top: 2px;
}

.input-search input{
    margin-left: 40px;
    width: 100%;
    font-size: 27px;
    border: 0;
    outline: 0;
    background-color: rgb(224, 224, 224);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

.input-search input::placeholder{
    color: rgb(150, 150, 150);

}

.main-title{
    color: rgb(61, 41, 80);
    padding-left: 5%;
    font-size: x-large;
    margin-bottom: 2%;
}

/*Table*/
 
.table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0% 10%;
}

.table-title{
    color: rgb(61, 41, 80);
    font-size: x-large;
    padding: 1% 5% 1%;
}

.table-results{
    grid-column: 1/-1;
}

.table-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0% 10% 3%;
    background-color: white;
    color:rgb(104, 167, 175);
    font-weight: bolder; 
}

.table-item p{
    padding: 10px 40px ;
}

.table-item:nth-child(odd){
    background-color: rgb(104, 167, 175);
    color: white;
    font-weight: bolder;
}

/*Footer*/

footer{
    display: flex;
    bottom: 0;
    min-height: 200px;
    width: 100%;
    position: absolute;
    background-color: rgb(61, 41, 80);
    color: white;
    font-family: 'Lato', sans-serif;
}

.footertop{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.texttop{
    font-size: x-large;
    font-weight: 500;
    align-self: center;
}

.footersocials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footersocialsstuff{
    padding-right: 5px;
    padding-left: 5px;
}

.footerbottom{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 5px;
    margin-top: 15px;
}

.footerbottomtext{
    text-decoration: none;
    display: flex;
    width: 18%;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    padding: 7px;
    border-radius: 10px;
    color: rgb(61, 41, 80);
    background-color: rgb(224, 224, 224); 
}

/*Responsive*/

@media screen and (max-width: 1000px){
    .footerbottomtext{
        font-size: small;
    }

    .input-search{
        padding: 5px;
        margin-top: 8%;
        margin-bottom: 4%;
    }

    .input-search input{
        margin-left: 10px;
        color: rgb(150, 150, 150);
        font-size: larger;
        font-weight: bold
    }

    .input-search input::placeholder{
        color: rgb(150, 150, 150);
        font-size: large;
        font-weight: bold
    }

    .table-item{
        margin: 0% 10% 7%;
    }
}

@media screen and (max-width: 600px){
    .logoCompany img{
        height: 50px;
        width: 240px;
        margin-left: 20px;
    }
    
    .headerDroite{
        margin-right: 20px;
    }
    
    .nomPrenom{
        padding-right: 8px;
    }
    
    .profileButton img{
        height: 40px;
        width: 40px;
    }

    .retourMenu{
        font-size: x-large;
    }

    .main-title{
        font-size: large;
    }

    .table-title{
        font-size: large;
        padding: 1% 10% 1%;
    }

    .table-item p{
        padding: 5px 20px ;
        font-size: small;
    }
    
    footer{
        min-height: 170px;
    }

    .texttop{
        font-size: large;
    }

    .footerbottomtext{
        font-size: xx-small;
        width: 15%;
    }
}

@media screen and (max-width: 470px){
    .logoCompany img{
        height: 40px;
        width: 190px;
        margin-left: 10px;
    }
    
    .headerDroite{
        margin-right: 10px;
    }
    
    .nomPrenom{
        padding-right: 8px;
    }

    .nomPrenom{
        font-size: small;
    }

    .table-title{
        font-size: medium;
    }

    .table-item p{
        font-size: x-small;
    }

    .input-search{
        padding: 5px;
        margin-top: 8%;
        margin-bottom: 4%;
    }

    .input-search img{
        width: 30px;
        height: 30px;
    }

    .input-search input{
        margin-left: 8px;
        font-size: medium;
    }

    .input-search input::placeholder{
        font-size: medium;
    }
}

@media screen and (max-width: 400px){
    .logoCompany img{
        height: 30px;
        width: 140px;
        margin-left: 10px;
    }
    
    .nomPrenom{
        font-size: x-small;
    }

    .footerbottomtext{
        font-size: 7.5px;
    }

    .texttop{
        font-size: medium;
    }

    .footersocialsstuff{
        font-size: small;
    }
    
    .table-title{
        font-size: small;
    }

    .input-search img{
        width: 20px;
        height: 20px;
    }

    .input-search input{
        margin-left: 8px;
        font-size: small;
    }

    .input-search input::placeholder{
        font-size: small;
    }
}

@media screen and (max-width: 330px){
    .profileButton img{
        height: 30px;
        width: 30px;
    }

    .logoCompany img{
        height: 25px;
        width: 140px;
        margin-left: 5px;
    }

    .headerDroite{
        margin-right: 5px
    }

    .input-search input{
        font-size: x-small;
    }

    .input-search input::placeholder{
        font-size: x-small;
    }

    .texttop{
        font-size: small;
    }

    .footersocialsstuff{
        font-size: x-small;
    }

    .footerbottomtext{
        font-size: 6px;
    }

    footer{
        min-height: 130px;
    }
}