@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0;
    padding: 0;
}

/*Header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(224, 224, 224);       
}

.headerDroite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nomPrenom{
    font-family: 'Lato', sans-serif;
    display: flex;
    vertical-align: baseline;
    color:#197D8A;
    padding-left: 5px;
}

.logoCompany {
    padding: 10px;
    max-height: 70%;
    width: auto;
}

.profileButton {
    padding: 15px;
    max-height: 60%;
    border-radius: 50%;
}

/*Body*/

/* div#ecran{
    display: flex;
    flex-direction: row;
} */

div#espace1{
    display: flex;
    flex-direction: row;
    background-color: crimson;
    height: 20%;
}

.retourMenu{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row; 
    width: 110%;
    color: #3D2950;
    font-size: 200%;
    font-weight: bold;
    margin: 5% 5% 5% 5%;
}

div#espace2{
    display: flex;
    flex-direction: row; 
    height: 25%;
}

div#maps{
    display: flex;
    flex-direction: row; 
    background-color: coral;
    width: 50%;
}

.maps_image{
    height: 15%;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.adresse{
    display: flex;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    vertical-align: middle;
}

div#espace3{
    display: flex;
    flex-direction: row; 
    height: 25%;
}

div#espace4{
    display: flex;
    flex-direction: row; 
    height: 25%;
}

/*Footer*/

footer {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: rgb(61, 41, 80);
    position: absolute;
    color: white;
}

.textEnd{
    font-family: 'Lato', sans-serif;
    margin: 20px;
}

.footerElements {
    display: flex;
    align-items: center;
}

#logoInstagram {
    margin-left: 40px
}

#logoLinkedin {
    margin-left: 40px
}

