@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*Body*/
.espace1{
    height: auto;
    margin-top: 20px;
}

.retourMenu{
    font-family: 'Lato', sans-serif;
    width: 110%;
    color: rgb(61, 41, 80);
    font-size: 200%;
    font-weight: bold;
    align-self: center;
    padding-left: 5%;
}

/*Search*/
.input-search{
    display: flex;
    align-items: center;
    width: 50%;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    padding: 10px;
    margin-top: 4%;
    margin-bottom: 1%;
}

.input-search button{
    border: 0;
    background-color: rgb(224, 224, 224);
}

.input-search button:hover img{
    filter: brightness(0.4);
}

.center-input{
    display: flex;
    justify-content: center;
}

.input-search button img{
    width: 50px;
    position: relative;
    margin-top: 2px;
}

.input-search input{
    margin-left: 40px;
    width: 100%;
    font-size: 27px;
    border: 0;
    outline: 0;
    background-color: rgb(224, 224, 224);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

.input-search input::placeholder{
    color: rgb(150, 150, 150);

}

.main-title{
    color: rgb(61, 41, 80);
    padding-left: 5%;
    font-size: x-large;
    margin-bottom: 2%;
}

/*Table*/
 
.table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0% 10%;
}

.table-title{
    color: rgb(61, 41, 80);
    font-size: x-large;
    padding: 1% 5% 1%;
}

.table-results{
    grid-column: 1/-1;
}

.table-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: 0% 10% 3%;
    background-color: white;
    color: rgb(104, 167, 175);
    font-weight: bolder; 
}

.table-item p{
    padding: 10px 40px ;
    color: white;
}

.name p:hover{
    color: rgb(197, 197, 197);
}

.table-item:nth-child(odd){
    background-color: rgb(104, 167, 175);
    color: white;
    font-weight: bolder;
}

/*Responsive*/

@media screen and (max-width: 1000px){
    /*Main*/
    .input-search{
        padding: 5px;
        margin-top: 8%;
        margin-bottom: 4%;
    }

    .input-search input{
        margin-left: 10px;
        color: rgb(150, 150, 150);
        font-size: larger;
        font-weight: bold
    }

    .input-search input::placeholder{
        color: rgb(150, 150, 150);
        font-size: large;
        font-weight: bold
    }

    .table h3{
        font-size: 20px;
    }

    .table-item{
        margin: 0% 10% 7%;
    }

    .table-item p{
        font-size: 12px;
    }

    /*Footer*/
    .footerbottomtext{
        font-size: small;
    }
}

@media screen and (max-width: 700px){
    .table h3{
        font-size: 15px;
    }

    .table-item{
        margin: 0% 7% 7%;
    }

    .table-item p{
        font-size: 10px;
        padding: 10px 20px
    }
}

@media screen and (max-width: 600px){
    /*Header*/
    .headerDroite{
        margin-right: 20px;
    }
    
    .nomPrenom{
        padding-right: 8px;
    }
    
    .profileButton img{
        height: 40px;
        width: 40px;
    }

    .retourMenu{
        font-size: x-large;
    }

    .logoCompany img{
        height: 50px;
        width: 240px;
        margin-left: 20px;
    }

    /*Main*/
    .main-title{
        font-size: large;
    }

    .input-search button img{
        width: 35px;
    }

    /*Footer*/
    footer{
        min-height: 170px;
    }

    .texttop{
        font-size: large;
    }

    .footerbottomtext{
        font-size: xx-small;
        width: 15%;
    }
}

@media screen and (max-width: 470px){
    /*Header*/
    .logoCompany img{
        height: 40px;
        width: 190px;
        margin-left: 10px;
    }
    
    .headerDroite{
        margin-right: 10px;
    }
    
    .nomPrenom{
        padding-right: 8px;
        font-size: small;
    }

    /*Main*/
    .table h3{
        font-size: 12px;
    }

    .input-search{
        padding: 5px;
        margin-top: 8%;
        margin-bottom: 4%;
    }
    
    .input-search input{
        margin-left: 8px;
        font-size: medium;
    }

    .input-search input::placeholder{
        font-size: medium;
    }
}

@media screen and (max-width: 400px){
    /*Header*/
    .logoCompany img{
        height: 30px;
        width: 140px;
        margin-left: 10px;
    }
    
    .nomPrenom{
        font-size: x-small;
    }

    .footerbottomtext{
        font-size: 7.5px;
    }

    /*Main*/
    .table-item p{
        padding: 10px 10px;
        font-size: 7px;
    }

    .table h3{
        font-size: 9px;
    }

    .input-search input{
        margin-left: 8px;
        font-size: small;
    }

    .input-search input::placeholder{
        font-size: small;
    }

    .input-search button img{
        width: 25px;
    }

    /*Footer*/
    .texttop{
        font-size: medium;
    }

    .footersocialsstuff{
        font-size: small;
    }
}

@media screen and (max-width: 330px){
    /*Header*/
    .profileButton img{
        height: 30px;
        width: 30px;
    }

    .logoCompany img{
        height: 25px;
        width: 140px;
        margin-left: 5px;
    }

    .headerDroite{
        margin-right: 5px
    }

    /*Main*/
    .input-search input{
        font-size: x-small;
    }

    .input-search input::placeholder{
        font-size: x-small;
    }

    .input-search button img{
        width: 20px;
    }

    /*Footer*/
    .texttop{
        font-size: small;
    }

    .footersocialsstuff{
        font-size: x-small;
    }

    .footerbottomtext{
        font-size: 6px;
    }

    footer{
        min-height: 130px;
    }
}