@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

/*  header  */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(224, 224, 224);       
}

.headerDroite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nomPrenom{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(25, 125, 138);
    padding-left: 5px;
}

.logoCompany {
    padding: 10px;
    max-height: 70%;
    width: auto;
}

.profileButton {
    padding: 15px;
    max-height: 60%;
    border-radius: 50%;
}

/*  menu  */

.menu{
    font-size: x-large;
    background-color: rgb(61, 41, 80);
}

.menu li{
    display: inline-block;
    position: relative;
    text-align: center;
    width:250px;
}

.menu li a{
    display: block;
    padding: 20px;
    color: white;
}

.menu li:hover a{
    background-color: #197D8A;
}

.hidden{
    display: none;
    position: absolute;
    font-size: medium;
} 

.menu li:hover .hidden{
    display: block;
}

.hidden li:hover a{
    background-color: white;
    color:#2c94a1;
}

/*  body / tuto part */

.tuto{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

.tuto div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 15%;
    height: 20%;
    background-color: rgb(224, 224, 224);
    text-align: left;
    border-radius: 10px;
    padding: 1%;
    font-weight: bolder;
}

.tuto h3{
    color: rgb(61, 41, 80);
}

.imageTuto{
    display: flex;
    justify-content: flex-end;
}

div:hover .imageTuto{
    filter: brightness(2);
}

div:hover h3{
    filter: brightness(2);
    font-weight: lighter;
}

/*  footer  */

footer{
    display: flex;
    flex-direction: column;
    bottom: 0;
    min-height: 200px;
    position: relative;
    background-color: rgb(61, 41, 80);
    color: white;
    font-family: 'Lato', sans-serif;
}

.footertop{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.texttop{
    font-size: x-large;
    font-weight: 500;
    align-self: center;
}

.footersocials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footersocialsstuff{
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
}

.footerbottom{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    color: grey;
}

.footerbottomtext{
    display: flex;
    width: 20%;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    color: rgb(61, 41, 80);
    background-color: rgb(224, 224, 224); 
}







