@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*Header*/

.mainbody{
  /* grow shrink basis */
  flex: 1 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(224, 224, 224);       
}

.headerDroite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nomPrenom{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(25, 125, 138);
    padding-left: 5px;
}

.logoCompany {
    padding: 10px;
    max-height: 70%;
    width: auto;
}

.profileButton {
    padding: 15px;
    max-height: 60%;
    border-radius: 50%;
}

/*Body*/

.espace1{
    height: auto;
}

.retourMenu{
    font-family: 'Lato', sans-serif;
    width: 110%;
    color: rgb(61, 41, 80);
    font-size: 200%;
    font-weight: bold;
    align-self: center;
    padding-left: 5%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  background-color: blue;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.scroll{
  width:700px;
  height:500px;
}

h2{
  font-size: 3em;
}

.review{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.desc{
  font-size:2rem
}
 
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .stars {
    display: inline-flex;
  }
  
  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }
  
  /* hide 'none' input from screenreaders */
  .rating__input--none {
    display: none
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 5em;
  }
  
  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make all stars orange on rating group hover */
  .rating-stars:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

.rating-stars{
flex-wrap: nowrap;
}
.reviewtext{
  
}
/* ****************** */


/*Footer*/

footer{
  flex-shrink: 0;
  display: flex;
  min-height: 200px;
  width: 100%;
  background-color: rgb(61, 41, 80);
  color: white;
  font-family: 'Lato', sans-serif;
}

.footertop{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.texttop{
  font-size: x-large;
  font-weight: 500;
  align-self: center;
}

.footersocials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footersocialsstuff{
  padding-right: 5px;
  padding-left: 5px;
}

.footerbottom{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 5px;
  margin-top: 15px;
}

.footerbottomtext{
  text-decoration: none;
  display: flex;
  width: 18%;
  justify-content: center;
  font-size: large;
  font-weight: 600;
  padding: 7px;
  border-radius: 10px;
  color: rgb(61, 41, 80);
  background-color: rgb(224, 224, 224); 
}

@media screen and (max-width: 1400px) {
  
}