@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mainbody{
    flex: 1 0 auto;
}

p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*  header  */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(224, 224, 224);       
}

.headerDroite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nomPrenom{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(25, 125, 138);
    padding-left: 5px;
}

.logoCompany {
    padding: 10px;
    max-height: 70%;
    width: auto;
}

.profileButton {
    padding: 15px;
    max-height: 60%;
    border-radius: 50%;
}

/*  menu  */

.menu{
    font-size: x-large;
    background-color: rgb(61, 41, 80);
}

.menu li{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 250px;
}

.menu li a{
    display: block;
    padding: 20px;
    color: white;
}

.menu li:hover a{
    background-color: #197D8A;
}

.hidden{
    display: none;
    position: absolute;
    font-size: medium;
} 

.menu li:hover .hidden{
    display: block;
}

.hidden li:hover a{
    background-color: white;
    color:#2c94a1;
}

/*  body */ 

/* last offer */

.

/*tuto part */

.tuto{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

.tuto div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 15%;
    height: 20%;
    background-color: rgb(224, 224, 224);
    text-align: left;
    border-radius: 10px;
    padding: 2%;
}

.tuto h3{
    color: rgb(61, 41, 80);
    width: 10em;
    font-weight: bolder;
}

.imageTuto{
    display: flex;
    justify-content: flex-end;
}

div:hover .imageTuto{
    filter: brightness(2);
}

div:hover h3{
    filter: brightness(2);
    font-weight: lighter;
}


/*Footer*/
footer{
    display: flex;
    min-height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(61, 41, 80);
    color: white;
    font-family: 'Lato', sans-serif;
}

.footertop{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.texttop{
    font-size: x-large;
    font-weight: 500;
    align-self: center;
}

.footersocials{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.footersocialsstuff{
    padding-right: 5px;
    padding-left: 5px;
}

.footerbottom{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.footerbottomtext{
    text-decoration: none;
    display: flex;
    width: 18%;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    padding: 7px;
    border-radius: 10px;
    color: rgb(61, 41, 80);
    background-color: rgb(224, 224, 224); 
}

/*Responsive*/
@media screen and (max-width: 1000px){
    .footerbottomtext{
        font-size: small;
    }
}

@media screen and (max-width: 600px){
    .logoCompany img{
        height: 50px;
        width: 240px;
        margin-left: 20px;
    }

    footer{
        min-height: 170px;
    }

    .texttop{
        font-size: large;
    }

    .footerbottomtext{
        font-size: xx-small;
        width: 15%;
    }
}

@media screen and (max-width: 470px){
    .logoCompany img{
        height: 40px;
        width: 190px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px){
    .logoCompany img{
        height: 30px;
        width: 140px;
        margin-left: 10px;
    }

    .texttop{
        font-size: medium;
    }

    .footersocialsstuff{
        font-size: small;
    }
}

@media screen and (max-width: 330px){
    .logoCompany img{
        height: 25px;
        width: 140px;
        margin-left: 5px;
    }
    .texttop{
        font-size: small;
    }

    .footersocialsstuff{
        font-size: x-small;
    }

    .footerbottomtext{
        font-size: 6px;
    }

    footer{
        min-height: 130px;
    }
}