@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.mainclass{
    min-height: 100vh;
    max-width: 100vh;
}

.mainbody{
    display: flex;
    flex-direction: row;
}

p{
    margin: 0;
    padding: 0;
}

/*Header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
    background-color: rgb(224, 224, 224);       
}

.headerDroite{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nomPrenom{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(25, 125, 138);
    padding-left: 5px;
}

.logoCompany {
    padding: 10px;
    max-height: 70%;
    width: auto;
}

.profileButton {
    padding: 15px;
    max-height: 60%;
    border-radius: 50%;
}

/*Body*/

.mainclass{
    height: 100vh;
}

.topbody{
    display: flex;
    align-items: center;
    height: 12vh;
}

.retourMenu{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    width: 110%;
    color: rgb(61, 41, 80);
    font-size: 200%;
    font-weight: bold;
    align-self: center;
    padding-left: 5%;
}

.choice{
    display: flex;
    height: 19vh;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 600;
}

.mainbody{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40vh;
}

.onethirdbody{
    display: flex;
    height: 100%;
    align-items: center;
}

.dbbutton{
    display: flex;
    width: auto;
    justify-content: center;
    font-size: large;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    color: rgb(61, 41, 80);
    background-color: rgb(224, 224, 224);
}

.dbbutton2{
    display: flex;
    width: auto;
    justify-content: center;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    color: rgb(224, 224, 224);
    background-color: rgb(61, 41, 80);
} 

/*Footer*/

footer{
    display: flex;
    bottom: 0;
    min-height: 22vh;
    position: relative;
    background-color: rgb(61, 41, 80);
    color: white;
    font-family: 'Lato', sans-serif;
}

.footertop{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.texttop{
    font-size: x-large;
    font-weight: 500;
    align-self: center;
}

.footersocials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footersocialsstuff{
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
}

.footerbottom{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 5px;
    padding-left: 5px;
}

.footerbottomtext{
    text-decoration: none;
    display: flex;
    width: 18%;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    padding: 7px;
    border-radius: 10px;
    color: rgb(61, 41, 80);
    background-color: rgb(224, 224, 224); 
}